
.navbar-settings {
    padding-left: 0.5cm;
    padding-right: 0.5cm;
}

.tab-controller {
    margin: 10px;
}

.slide-listing {
    position: relative;
}

.slide-item {
    display: flex;
}

.container-img {
    border: 0.1cm solid black;
}

.container-description {
    text-align: center;
    margin: 0.5cm;
}

.delete-button {
    display: block;
    margin-left: auto;
    margin-right: 0;
    height: 40px;
}

.apply-button-container {
    position: fixed;
    bottom: 1cm;
    left: 50%;
    transform: translate(-50%, -50%);
}

.add-button-container {
    position: fixed;
    bottom: 1cm;
    right: 1cm;
}
