
.navbar-settings {
    padding-left: 0.5cm;
    padding-right: 0.5cm;
}

.tab-controller {
    margin: 10px;
}

.apply-button-container {
    position: fixed;
    bottom: 1cm;
    left: 50%;
    transform: translate(-50%, -50%);
}

.add-button-container {
    position: fixed;
    bottom: 1cm;
    right: 1cm;
}
