
.navbar-settings {
    padding-left: 0.5cm;
    padding-right: 0.5cm;
}


.main-container {
}

.container-settings {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-15%, 0);
}

.slide-item {
    display: flex;
    width: 30%;
}

.container-img {
    border: 0.1cm solid black;
}

.container-description {
    text-align: center;
    margin: 0.5cm;
}

.apply-button-container {
    position: fixed;
    bottom: 1cm;
    right: 1cm;
}
